.idea
.venv
.iml
deployment/.env
deployment/backups
deployment/docker-compose.override.yml
deployment/onedrive/data
deployment/sites-enabled/default.conf
deployment/volumes

__pycache__/

django_project/.pycharm_helpers/
celerybeat-schedule*
node_modules/
bundles/
webpack-stats.*
secret.py
coverage.xml