<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Add a vector tile source</title>
    <meta name="viewport"
          content="initial-scale=1,maximum-scale=1,user-scalable=no"/>
    <script src="https://unpkg.com/maplibre-gl@2.1.9/dist/maplibre-gl.js"></script>
    <link href="https://unpkg.com/maplibre-gl@2.1.9/dist/maplibre-gl.css"
          rel="stylesheet"/>
    <style>
        body {
            margin: 0;
            padding: 0;
        }

        #map {
            position: absolute;
            top: 0;
            bottom: 0;
            width: 100%;
        }
    </style>
</head>
<body>
<div id="map"></div>
<script>
    var layerBaseUrl = 'https://staging.georepo.kartoza.com';
    var map = new maplibregl.Map({
        container: 'map',
        style:
            'https://api.maptiler.com/maps/hybrid/style.json?key=get_your_own_OpIi9ZULNHzrESv6T2vL',
        zoom: 5,
        center: [31.1656, 48.3794]
    });

    var nav = new maplibregl.NavigationControl();
    map.addControl(nav, 'top-right');

    map.on('load', function () {
        map.addSource('Country', {
          'type': 'vector',
          'tiles': [
              layerBaseUrl + "/layer_tiles/Ukraine/Country/{z}/{x}/{y}",
          ],
          "tolerance": 0
        });
        map.addSource('Hromada', {
          'type': 'vector',
          'tiles': [
              layerBaseUrl + "/layer_tiles/Ukraine/Hromada/{z}/{x}/{y}",
          ],
          "tolerance": 0
        });
        map.addSource('Oblast', {
          'type': 'vector',
          'tiles': [
              layerBaseUrl + "/layer_tiles/Ukraine/Oblast/{z}/{x}/{y}",
          ],
          "tolerance": 0
        });
        map.addSource('Raion', {
          'type': 'vector',
          'tiles': [
              layerBaseUrl + "/layer_tiles/Ukraine/Raion/{z}/{x}/{y}",
          ],
          "tolerance": 0
        });

        map.addLayer({
            "id": "country-line",
            "source": "Country",
            "source-layer": "Country",
            "minzoom": 1,
            "layout": {
                "visibility": "visible"
            },
            "type": "line",
            "paint": {
                "line-color": "rgb(252,1,1)",
                "line-width": 1
            },
        });

        map.addLayer({
            "id": "Hromada-line",
            "source": "Hromada",
            "source-layer": "Hromada",
            "minzoom": 1,
            "layout": {
                "visibility": "visible"
            },
            "type": "line",
            "paint": {
                "line-color": "rgba(255,242,0, 0.4)",
                "line-width": 1
            },
        });

         map.addLayer({
            "id": "raion-line",
            "source": "Raion",
            "source-layer": "Raion",
            "minzoom": 1,
            "layout": {
                "visibility": "visible"
            },
            "type": "line",
            "paint": {
                "line-color": "rgba(14,232,32,0.6)",
                "line-width": 1
            },
        });

        map.addLayer({
            "id": "oblast-line",
            "source": "Oblast",
            "source-layer": "Oblast",
            "minzoom": 1,
            "layout": {
                "visibility": "visible"
            },
            "type": "line",
            "paint": {
                "line-color": "rgba(1,34,252, 0.6)",
                "line-width": 1
            },
        });

    });

</script>

</body>
</html>
